:root{
 --primarycolor: #0074f3;
 --blackcolormatt: black;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: url(./images/20502789.jpg);
}

.navbar{
    width: 100%;
    background-color: var(--blackcolormatt);
    padding: 14px;
    float: left;
    padding-bottom: 28px;
    text-align: center;
margin-bottom: 24px;
}

.div-links a {
    margin-left: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;

    

}
i{
    color: var(--primarycolor);
}
.about-button{
    color: white;
}
a{
    text-decoration: none;
}
.nav-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
}
span{
    color: var(--primarycolor);
}
.hero{

width: 100%
}
.hero-title{
    text-align: center;
    
}
.column{
    /* display: inline; */
    float: left;
    width: 30.9%;
    padding: 5px;
    border: 1px var(--primarycolor) solid;
    margin-left: 26px;
    height: 600px;
    margin-top: 20px;
}
.row::after{
content: "";
display: table;
}

.secondimg{
    height: 347px;
}


